@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  z-index: 0;
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #18a6d5;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: color-dodge;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(90deg,
      #55565e 25%,
      transparent 0,
      transparent 50%,
      #55565e 0,
      #55565e 75%,
      transparent 0);
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(90deg,
      transparent 0,
      transparent 25%,
      #55565e 0,
      #55565e 50%,
      transparent 0,
      transparent 75%,
      #55565e 0);
  z-index: -2;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}

#landing {
  color: #000;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
/*
  --dot-bg: white;
  --dot-color: black;
  --dot-size: 2px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);*/
}

.landing-text {
  margin-top: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.landing-text h1 {
  position: relative;
  z-index: 100;
  font-family: 'inter',sans-serif;
  font-size: 10rem;
  line-height: 1;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0rem;
  color: transparent;
  white-space: pre-wrap;
  background-clip: text;
  background-image: linear-gradient(to bottom, #5F6ACB 0%, #2F3465 100%);
  background-color: #000000;
  pointer-events: none;
  padding-bottom: 0;
}

.landing-text h3 {
  font-family: 'inter',sans-serif;
  position: relative;
  top: -1.5rem;
  z-index: 101;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #F90;
}
.Elli{
  position: absolute;
  top: 29%;
  left: 80%;
}

.BRect{
  position: absolute;
  top: 5%;
  left: -1%;
}
.Elli2{
  position: absolute;
  top: 90%;
  left: -2%;
}


.Rect{
  position: absolute;
  top: 50%;
  right: 0;
}

.landing-text p {
  font-family: 'inter',sans-serif;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 0%;
  width: 70%;
  font-weight: 400;
}
/*
.landing-globe {
  opacity: 0.0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}*/

@media only screen and (min-width: 771px) and (max-width: 1024px) {
  .landing-text h1 {
    font-size: 6rem;
  }

  .landing-text h3 {
    font-size: 3rem;
  }

  .landing-text p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 770px) {
  .landing-text h1 {
    font-size: 3rem;
  }

  .landing-text h3 {
    font-size: 2rem;
  }

  .landing-text p {
    font-size: 0.8rem;
  }
}