@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #424242;
}

::-webkit-scrollbar-thumb {
    background: #252525;
}

::-webkit-scrollbar-thumb:hover {
    background: #111010;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: transparent;
    color: #fff;
    width: 100vw;
    z-index: 101;
}

.colorChange {
    background-color: #000;
    backdrop-filter: blur(10px);
    transition: all 0.3s;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
}

.navlinks {
    display: flex;
    justify-content: space-between;
}

.navlinks a {
    margin: 0 1rem;
}

.logo,
.work-btn {
    margin: 0 2rem;
}

#home {
    background-color: black;
    background-image: url(/bg.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

#home h1 {
    font-size: 13rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFF 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home h2 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 3rem;
    background: linear-gradient(180deg, #FFF 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home img {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.work-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s;
}

.work-btn:hover {
    background-color: #fff;
    color: #000;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    height: 50vh;
}

.splide {
    width: 90%;
    height: auto;
    padding: 1.3rem;
}

.splide img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    transform: perspective(800px) rotateX(40deg);
    transition: all 0.3s;
}

.splide img:hover {
    transform: perspective(800px) rotateX(0deg) scale(0.9);
}

.splide2 img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    transform: perspective(800px) rotateX(20deg, 20deg);
}

#testimonials {
    height: 100vh;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.review {
    font-family: 'Inter', sans-serif;
    width: 20rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
    text-align: left;
    border-radius: 2rem;
    background: linear-gradient(325deg, #3f5efb, #fc466b);
    transform:
        perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    transition: 0.6s ease all;
}

.review:hover {
    transform:
        perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
}

.review span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.review h1 {
    font-size: 2rem;
    margin: 1rem;
    padding: 0;
}

.review h2 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.review p {
    font-size: 1rem;
    margin: 1rem;
    padding: 0;
}